name: Build docker images (scheduled)

on:
  push:
    branches:
      - master
      - improved-testing-experience
    paths:
      - "src/**"
      - "tests/**"
      - ".github/**"
      - "templates/**"
      - "utils/**"
  repository_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  torch-docker:
    name: PyTorch docker container build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pytorch: ["1.8", "1.9", "1.10", ""]
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Check out code
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./docker/transformers-pytorch-gpu
          build-args: |
            REF=master
            TORCH=${{ matrix.pytorch }}
          push: true
          tags: huggingface/dummy-${{ matrix.pytorch }}-transformers

  tensorflow-docker:
    name: TensorFlow docker container build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pytorch: ["2.5", "2.6", "2.7", ""]
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Check out code
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./docker/transformers-tensorflow-gpu
          build-args: |
            REF=master
            TENSORFLOW=${{ matrix.tensorflow }}
          push: true
          tags: huggingface/dummy-${{ matrix.tensorflow }}-transformers

  latest-docker:
    name: Docker image with all dependencies
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Check out code
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./docker/transformers-all-latest-gpu
          build-args: |
            REF=master
          push: true
          tags: huggingface/dummy-transformers
